@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,200&family=PT+Sans+Narrow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=EB+Garamond:wght@500&family=Inter:wght@300&family=Open+Sans:ital,wght@1,300&family=PT+Sans+Narrow&family=Pacifico&family=Poppins:wght@200&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=EB+Garamond:wght@500&family=Inter:wght@300&family=Open+Sans:ital,wght@1,300&family=PT+Sans+Narrow:wght@400;700&family=Pacifico&family=Poppins:wght@200&family=Roboto&display=swap");
.products {
  text-align: center;
  font-family: PT Sans Narrow, sans-serif;
  padding-bottom: 24px;
  &-header {
    font-size: 25px;
    font-family: "Pacifico", cursive;
    color: var(--global-orange-color);
    letter-spacing: 2px;
  }

  &-items {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
    cursor: pointer;

    img {
      height: 350px;
      width: 350px;
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.7s ease;
      transform-origin: center center;
    }
  }
  &-button {
    padding: 15px;
    border-radius: 50px;
    width: 135px;
    background-color: var(--global-orange-color);
    border: 1px solid var(--global-orange-color);
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: PT Sans Narrow, sans-serif;
    cursor: pointer;
  }
}

.pruducts-items-item img:hover {
  transform: scale(1.2);
}

.products-button:hover {
  background-color: white;
  border: 1px solid var(--global-orange-color);
  color: var(--global-orange-color);
  transition-duration: 0.4s;
}

.pruducts-items-item h4:hover {
  color: var(--global-orange-color);
  transition-duration: 0.4s;
}
