* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --global-max-width: 1300px;
  --template-font: 'PT Sans Narrow', sans-serif;
  --template-yellow: #fd9d3e;
  --white: #fff;
  --black: #000;
}
