@import url("https://fonts.googleapis.com/css2?family=Courgette&family=PT+Sans+Narrow&display=swap");

// You can use this for dynamic style writing, just using @include in selector brackets
@mixin cursor {
  cursor: pointer;
}
@mixin transition {
  transition: all 0.4s ease 0s;
}
@mixin list-item {
  position: relative;
  list-style-type: none;
  font-family: var(--template-font);
  margin-bottom: 15px;
  @include cursor;
  color: var(--black);
  @include transition;
}
@mixin dropdown {
  padding: 5px 15px;
  left: 38.5%;
  min-height: 130px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 15px 0 10px 0;
  background: transparent;
  @include transition;
  > .container {
    > .row {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      > .logo {
        @include cursor; // Here is example of @include
        margin-left: 15px;
        > img {
          @include transition;
        }
      }
      > ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 65%;
        margin-right: 15px;
        > li {
          overflow: hidden;
          margin: 0 20px;
          padding: 10px 0 15px 0;
          font-size: 16px;
          list-style-type: none;
          font-family: var(--template-font);
          display: flex;
          align-items: center;
          color: var(--white);
          @include transition;
          @include cursor;
          > a {
            text-decoration: none;
            color: var(--white);
            @include transition;
            @include cursor;
          }
          > a:hover {
            color: var(--template-yellow);
          }
          &:hover {
            &:not(:nth-child(6), :nth-child(7)) {
              color: var(--template-yellow);
            }
          }

          & > svg {
            @include transition;
          }
          &:nth-child(6),
          &:nth-child(7) {
            position: relative;
          }
          &:nth-child(6) {
            margin-left: 25px;
          }
          &:nth-child(7) {
            margin-left: 0;
          }
          &:nth-child(6):hover > svg:nth-child(1),
          &:nth-child(7):hover > svg:nth-child(1) {
            transform: translate3d(0, -180%, 0);
          }
          &:nth-child(6):hover > svg:nth-child(2),
          &:nth-child(7):hover > svg:nth-child(2) {
            transform: translate3d(0, 0, 0);
          }
          & > svg {
            color: var(--template-yellow);
            margin-right: 7px;
            height: 20px;
            width: 20px;
            @include transition;
            &:nth-child(2) {
              color: var(--white);
              position: absolute;
              transform: translate3d(0, 180%, 0);
            }
          }
          &:last-child {
            padding: 11px 15px 11px;
            background: #91b842;
            border-radius: 30px;
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 5px;
            &:hover {
              color: var(--white);
              background-color: rgb(253 157 62 / 0.7);
            }
          }
        }
      }
    }
  }
}
.fixed {
  background-color: #121619;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
  padding: 10px 0 8px 0;
  @include transition;
  > .container > .row {
    .logo {
      > img {
        transform: scale3d(0.8, 0.8, 1) translateX(-25px);
        @include transition;
      }
    }
  }
}
.menu-dropdown,
.blog-dropdown,
.pages-dropdown {
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  @include transition;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-top: 3px solid var(--template-yellow);
  background-color: var(--white);
  padding: 5px 15px;
  position: absolute;
  left: 7.2%;
  top: 93%;
  > .container {
    max-width: 1080px !important;
    color: #a4a4a4;
    display: flex;
    > .pizzas {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      padding: 5px 10px;
      > div {
        padding: 20px;
        width: 33%;
        display: flex;
        align-items: center;
        @include cursor;
        @include transition;
        &:hover {
          background-color: rgb(253 157 62 / 0.15);
        }
        > img {
          width: 100px;
        }
        > .about-pizza {
          margin: 0 10px;
          font-family: var(--template-font);
          > p {
            color: var(--black);
            &:nth-child(2) {
              color: var(--template-yellow);
              margin: 5px 0;
            }
          }
        }
      }
    }
    > .menu-list {
      padding-top: 50px;
      > ul {
        > li {
          @include list-item;
          &:hover {
            color: var(--template-yellow);
          }
          &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: -12px;
            width: 5px;
            height: 5px;
            background-color: var(--template-yellow);
          }
        }
      }
    }
  }
}
.blog-dropdown {
  @include dropdown;
  > ul {
    padding: 5px 30px 0 10px;
    > li {
      @include list-item;
      a {
        text-decoration: none;
        @include cursor;
        color: var(--black);
        @include transition;
      }
      a:hover {
        color: var(--template-yellow);
      }
      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: -12px;
        width: 5px;
        height: 5px;
        background-color: var(--template-yellow);
      }
    }
  }
}
.pages-dropdown {
  @include dropdown;
  left: 55%;
  > ul {
    padding: 10px 50px 0 20px;
    > li {
      @include list-item;
      &:hover {
        color: var(--template-yellow);
      }
      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: -12px;
        width: 5px;
        height: 5px;
        background-color: var(--template-yellow);
      }
    }
  }
}
.row > ul > li.menu-item:hover .menu-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.row > ul > li.blog-item:hover .blog-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.row > ul > li.page-item:hover .pages-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
